<footer class="footer">
    <div class="footer-container">
        <p>© 2025 ESIEA - Cuvilliez Benjamin Tous droits réservés.</p>
        <div class="footer-icons">
            <a href="https://www.esiea.fr" target="_blank" class="footer-logo-link">
                <img src="../assets/pics/logo-esiea.png" alt="Logo ESIEA" class="footer-logo" />
            </a>
            <a href="https://www.linkedin.com/in/benjamin-cuvilliez/" target="_blank" class="footer-icon">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="mailto:benjamin@cuvilliez-cyber.fr" class="footer-icon">
                <i class="fas fa-envelope"></i>
            </a>
            <a href="https://github.com/BenjiPy?tab=overview&from=2025-04-01&to=2025-04-10" target="_blank" class="footer-icon">
                <i class="fab fa-github"></i>
            </a>
        </div>        
    </div>
</footer>
<script src="../scripts/main.js"></script>
