<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/site-vitrine/public/pages/index.html" class="nav-link">Accueil</a></li>
            <li><a href="/site-vitrine/public/pages/apropos.html" class="nav-link">À propos</a></li>
            <li><a href="/site-vitrine/public/pages/parcours.html" class="nav-link">Parcours</a></li>
            <li><a href="/site-vitrine/public/pages/contact.html" class="nav-link">Contact</a></li>
        </ul>
    </nav>     
</header>